*{
    font-family:'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;

}
body{
    padding: 2rem;
}

img.logo{
    width: 3rem;
}

nav .active {
    color: green;
}

nav, footer{
    font-weight: bold;
}

nav a:hover, footer a:hover{
    color:green;
}

nav a{
    color: black;
    text-decoration: none;
}

nav li{
    margin: 1rem;
    list-style-type: none;
}

li{
    margin-left: 1.7rem;
}